.menu-dialog .menu {
  box-sizing: border-box;
  padding: 0 20px;
  padding-right: 28px;
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
}
.menu-dialog .menu {
  list-style: none;
}
.menu-dialog .menu-item {
  padding: 8px 0;
  font-size: 18px;
}