.control-wrapper {
  height: 100%;
}
.control-wrapper .content-container {
  height: 100%;
  touch-action: none;
}

.control-wrapper .navigator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  width: calc(100% - 24px);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0 12px;
  background: #fff;
  border-bottom: 1px solid #000;
  z-index: 10;
  padding-top: env(safe-area-inset-top);
  box-sizing: content-box;
}
.control-wrapper .navigator::before {
  content: " ";
  display: block;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
}
html.dark-mode .control-wrapper .navigator::before {
  background-color: #fff;
}
.control-wrapper .navigator .back-to-index {
  font-size: 28px;
}

/* control */
.control {
  --control-height: 48px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
}
.control .control-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: var(--control-height);
  background-color: #fff;
  border-top: 1px solid #000;
  text-align: center;
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: content-box;
}
.control .material-icons {
  font-size: 32px;
}
.control .control-panel {
  background: #fff;
  padding: 16px 0;
  border-top: 1px solid #000;
  box-sizing: content-box;
}
.control .control-panel.font-panel {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
}
.control-panel.font-panel > div {
  width: 100%;
}
.control-panel.font-panel .font-family {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.control-panel.font-panel .font-family .c-select {
  flex: 1;
}
.control-panel.font-panel .font-family .font-family-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.control-panel.font-panel .font-weight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.control-panel.font-panel > * {
  margin: 10px 0;
}
.control-panel.font-panel .font-weight.selected {
  background: #000;
  color: #fff;
}
.control-panel.font-panel .font-size {
  display: flex;
  align-items: center;
}
.control-panel.font-panel .font-size .text-size {
  width: 48px;
  text-align: center;
}
.control-panel.font-panel .font-size button {
  font-size: 24px;
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
}

.control-panel.play-panel {
  display: flex;
  justify-content: space-around;
}
.control-panel.play-panel button {
  border: 1px solid #000;
  border-radius: 999px;
  font-size: 24px;
  padding: 6px;
}
.control-panel.play-panel .speed {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}