.marks-dialog.c-dialog .c-dialog-content {
  align-self: flex-start;
  background: transparent;
  box-sizing: border-box;
  padding-top: max(60px, env(safe-area-inset-top));
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  width: 84vw;
  margin-left: 8vw;
  color: #fff;
}