.marks-dialog.c-dialog .c-dialog-content {
  align-self: flex-start;
  background: transparent;
  box-sizing: border-box;
  padding-top: max(60px, env(safe-area-inset-top));
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  width: 84vw;
  margin-left: 8vw;
  color: #fff;
}
.marks-dialog .mark-list {
  list-style: none;
}
.marks-dialog .mark-list .mark-item {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  margin-bottom: 18px;
  padding: 10px;
}
.marks-dialog .mark-item .mark-icon {
  margin-right: 6px;
}