.marks-dialog.c-dialog .c-dialog-content {
  height: 100%;
  background: transparent;
  box-sizing: border-box;
  padding-top: max(60px, env(safe-area-inset-top));
  padding-bottom: max(20px, env(safe-area-inset-bottom));
  width: 76vw;
  margin-left: 12vw;
  color: #fff;
}
.marks-dialog .mark-content,
.marks-dialog .mark-quote {
  color: #fff;
}