@font-face {
  font-family: "思源宋体";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/SourceHanSerifCN-VF.otf.woff2") format("woff2");
}
@font-face {
  font-family: "方正楷体";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/FZKTSC.ttf") format("truetype");
}
@font-face {
  font-family: "方正仿宋";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/FZFSSC.ttf") format("truetype");
}
@font-face {
  font-family: "方正书宋";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/FZSSSC.ttf") format("truetype");
}
@font-face {
  font-family: "方正黑体";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/FZHTSC.ttf") format("truetype");
}
@font-face {
  font-family: "落霞文楷";
  src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKai-Light.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "落霞文楷";
  src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKai-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "落霞文楷";
  src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKai-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "落霞文楷 屏幕阅读版";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/LXGWWenKaiGBScreenR.ttf") format("truetype");
}
@font-face {
  font-family: "975圆体";
  src: url("https://cdn.jsdelivr.net/gh/lxgw/975maru/TTF%20SC/975MaruSC-Regular.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "975圆体";
  src: url("https://cdn.jsdelivr.net/gh/lxgw/975maru/TTF%20SC/975MaruSC-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "975圆体";
  src: url("https://cdn.jsdelivr.net/gh/lxgw/975maru/TTF%20SC/975MaruSC-Bold.ttf");
  font-weight: 800;
}

[data-font="思源宋体"] {
  font-family: "思源宋体";
}
[data-font="方正楷体"] {
  font-family: "方正楷体";
}
[data-font="方正仿宋"] {
  font-family: "方正仿宋";
}
[data-font="方正书宋"] {
  font-family: "方正书宋";
}
[data-font="方正黑体"] {
  font-family: "方正黑体";
}
[data-font="落霞文楷"] {
  font-family: "落霞文楷";
}
[data-font="落霞文楷 屏幕阅读版"] {
  font-family: "落霞文楷 屏幕阅读版";
}
[data-font="975圆体"] {
  font-family: "975圆体";
}