.page-container.route-book, .content-wrapper {
  height: 100vh;
}

.navigator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0 12px;
  background: #fff;
  border-bottom: 1px solid #000;
  z-index: 10;
  padding-top: env(safe-area-inset-top);
  box-sizing: content-box;
}
.navigator #back-to-index {
  font-size: 28px;
}
.control {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
  padding: 0 12px;
  height: 48px;
  background-color: #fff;
  border-top: 1px solid #000;
  text-align: center;
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: content-box;
}
.control .material-icons {
  font-size: 32px;
}
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.content-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.content {
  box-sizing: border-box;
  height: 100%;
  margin-left: 12px;
  margin-right: 12px;
  width: calc(100vw - 24px);
}
.content.column {
  margin-top: 20px;
  margin-bottom: 20px;
  column-gap: 0;
  column-width: calc(100vw - 40px);
  overflow: hidden;
  height: calc(100% - 40px);
}
.content .placeholder {
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control .control-panel {
  position: absolute;
  left: 0;
  bottom: 100%;
  right: 0;
  background: #fff;
  padding: 16px 0;
  border-top: 1px solid #000;
  display: none;
}
.control .control-panel.font-panel {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
}
.control-panel.font-panel > div {
  width: 100%;
}
.control-panel.font-panel .font-family-size {
  display: flex;
  justify-content: space-between;
}
.control-panel.font-panel .font-family {
  display: flex;
  align-items: center;
}
.control-panel.font-panel .font-family .font-family-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 240px);
}
.control-panel.font-panel .font-weight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.control-panel.font-panel .lighter-btn {
  margin-right: 10px;
}
.control-panel.font-panel .bolder-btn {
  margin-left: 10px;
}
.control-panel.font-panel .font-weight.selected {
  background: #000;
  color: #fff;
}
.control-panel.font-panel .font-size {
  display: flex;
  align-items: center;
}
.control-panel.font-panel .font-size .text-size {
  width: 48px;
  text-align: center;
}
.control-panel.font-panel .font-size button {
  font-size: 24px;
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
}

.control-panel.play-panel {
  display: flex;
  justify-content: space-around;
}
.control-panel.play-panel button {
  border: 1px solid #000;
  border-radius: 999px;
  font-size: 24px;
  padding: 6px;
}
.control-panel.play-panel .speed {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@font-face {
  font-family: "SourceHansSerifCN-VF";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/SourceHanSerifCN-VF.otf.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/SourceHanSerifCN-VF.otf") format("otf");
}
@font-face {
  font-family: "FZKTSC";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/FZKTSC.ttf") format("truetype");
}
@font-face {
  font-family: "FZFSSC";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/FZFSSC.ttf") format("truetype");
}
@font-face {
  font-family: "FZSSSC";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/FZSSSC.ttf") format("truetype");
}
@font-face {
  font-family: "FZHTSC";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/FZHTSC.ttf") format("truetype");
}
@font-face {
  font-family: "LXWK";
  src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKai-Light.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "LXWK";
  src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKai-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "LXWK";
  src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKai-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "LXWK SCREEN";
  src: url("https://cdn.jsdelivr.net/gh/qwertyyb/eink-reader/css/fonts/LXGWWenKaiGBScreenR.ttf") format("truetype");
}

.content {
  line-height: 1.6;
  font-size: 24px;
  color: black;
  user-select: text;
}
.content p {
  text-indent: 2em;
  /* content-visibility: auto; */
}
.content p + p {
  margin-top: 0.5em;
}
.content h3.chapter-title {
  padding-top: env(safe-area-inset-top);
}
.content p:last-child {
  padding-bottom: env(safe-area-inset-bottom);
}
.content p.reading {
  background: yellow;
}
[data-font="SYST"] {
  font-family: "SourceHansSerifCN-VF";
}
[data-font="FZKT"] {
  font-family: "FZKTSC";
}
[data-font="FZFS"] {
  font-family: "FZFSSC";
}
[data-font="FZSS"] {
  font-family: "FZSSSC";
}
[data-font="FZHT"] {
  font-family: "FZHTSC";
}
[data-font="LXWK"] {
  font-family: "LXWK";
}
[data-font="LXWK SCREEN"] {
  font-family: "LXWK SCREEN";
}