
.page-container.detail-page {
  width: 100vw;
}
.page-container.detail-page, .content-wrapper {
  height: var(--height);
  position: relative;
  z-index: 2;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.content-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 2;
}
.content {
  box-sizing: border-box;
  margin-left: 12px;
  margin-right: 12px;
  width: calc(100vw - 24px);
}
.content.column {
  margin-top: 20px;
  margin-bottom: 20px;
  column-gap: 0;
  column-width: calc(100vw - 40px);
  overflow: hidden;
  height: calc(100% - 40px);
}
.content .placeholder {
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  line-height: 1.6;
  font-size: 24px;
  color: black;
  user-select: text;
  -webkit-user-select: text;
  color: #fff;
}
.content .chapter {
  margin-bottom: env(safe-area-inset-bottom);
}
.content p {
  text-indent: 2em;
  word-break: break-all;
  /* content-visibility: auto; */
}
.content p + p {
  margin-top: 0.2em;
}
.content h4.chapter-title {
  padding-top: env(safe-area-inset-top);
}
.content p.reading {
  background: yellow;
}

.catalog-header {
  display: flex;
  align-items: center;
  height: 48px;
  box-sizing: border-box;
  padding: 0 8px;
}
.catalog-header .search-input {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}
.catalog-header .search-input input {
  outline: none;
  border: none;
  background: #ddd;
  border-radius: 4px;
  height: 32px;
  padding: 0 32px 0 12px;
  font-size: 14px;
  flex: 1;
}
.catalog-header .search-input .regexp-icon {
  position: absolute;
  font-size: 18px;
  top: 4px;
  right: 4px;
  color: #555;
  padding: 3px;
  border-radius: 4px;
}
.catalog-header .search-input .regexp-icon.active {
  background: #bbb;
}
.catalog-header .action-btn {
  border: none;
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  flex-shrink: 0;
}
.catalog-header .action-btn .action-icon {
  color: #fff;
}
.catalog-header .action-btn.search-btn {
  background: #448AFF;
}
.catalog-header .action-btn.close-btn {
  border: 1px solid #bdbdbd;
  background: transparent;
}
.catalog-header .action-btn.close-btn .action-icon {
  color: #757575;
}
.search-empty-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.search-empty-results .icon {
  color: #757575;
}
.search-empty-results .empty-title {
  margin-top: 20px;
  color: #757575;
}