.page-container.shelf-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page-container.shelf-page > * {
  width: 100%;
}
.page-container.shelf-page .shelf {
  flex: 1;
  overflow: auto;
}
.page-container.shelf-page .type-tabs {
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
  height: 54px;
  border-top: 1px solid #efefef;
  position: relative;
  z-index: 1;
}
.page-container.shelf-page .type-tabs .tab-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-container.shelf-page::before {
  content: " ";
  display: block;
  width: 100%;
  height: env(safe-area-inset-top);
  background: #000;
}

.page-container.shelf-page .book-list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;
  gap: 10px;
  justify-content: space-around;
  padding-bottom: calc(54px + env(safe-area-inset-bottom));
  position: relative;
  box-sizing: border-box;
}
.page-container.shelf-page .book-item {
  position: relative;
  opacity: 0.4;
}
.page-container.shelf-page .book-item.downloaded {
  filter: none;
  opacity: 1;
}
.page-container.shelf-page .book-item img {
  box-shadow: var(--mdc-protected-button-container-elevation, 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12));
}
.book-item .book-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 28px;
}
.book-item .book-title .remote-icon {
  font-size: 18px;
  margin-right: 6px;
}
.book-item .book-title .download-progress-percent {
  font-size: 12px;
  color: gray;
  margin-right: 6px;
}
.book-item .book-title .title {
  width: 0;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-container.shelf-page .book-item.is-reading .book-cover {
  opacity: 0;
}
.page-container.shelf-page .book-item .action-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .6);
}
.page-container.shelf-page .book-item .action-mask .remove-icon {
  color: #B00020;
}
.page-container.shelf-page .book-item .action-label {
  color: #fff;
}
.page-container.shelf-page .book-item .action-label {
  white-space: pre-wrap;
  font-size: 10px;
  margin-top: 6px;
}
.page-container.shelf-page .header {
  height: 48px;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.page-container.shelf-page .header .logo {
  width: 24px;
  height: 24px;
}
.page-container.shelf-page .header .select {
  margin-left: auto;
  margin-right: 6px;
  font-size: 20px;
}
.page-container.shelf-page .header #import-file {
  font-size: 32px;
}