.page-container.shelf-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page-container.shelf-page > * {
  width: 100%;
}
.page-container.shelf-page .shelf {
  flex: 1;
  overflow: auto;
}
.page-container.shelf-page .type-tabs {
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
  height: 54px;
  border-top: 1px solid #bbb;
  position: relative;
  z-index: 1;
}
.page-container.shelf-page .type-tabs .tab-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-container.shelf-page::before {
  content: " ";
  display: block;
  width: 100%;
  height: env(safe-area-inset-top);
  background: #000;
}

.page-container.shelf-page .type-tabs .tab-item.center {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -60px;
  background: #fff;
  border: 1px solid #000;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
}
.page-container.shelf-page .type-tabs .tab-item.center .material-icons {
  font-size: 48px;
}
.page-container.shelf-page .book-list {
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 140px);
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;
  gap: 10px;
  justify-content: space-around;
  padding-bottom: calc(54px + env(safe-area-inset-bottom));
  position: relative;
  box-sizing: border-box;
}
.page-container.shelf-page .book-item {
  position: relative;
  margin-bottom: 20px;
}
.page-container.shelf-page .book-item.is-reading {
  opacity: 0;
}
.page-container.shelf-page .book-item .action-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .3);
}
.page-container.shelf-page .book-item .action-label {
  color: #fff;
}
.page-container.shelf-page .book-item .action-label {
  white-space: pre-wrap;
  font-size: 10px;
  margin-top: 6px;
}
.page-container.shelf-page .header {
  height: 48px;
  border-bottom: 1px solid #bbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.page-container.shelf-page .header .logo {
  width: 24px;
  height: 24px;
}
.page-container.shelf-page .header .select {
  margin-left: auto;
  margin-right: 6px;
  font-size: 20px;
}
.page-container.shelf-page .header #import-file {
  font-size: 32px;
}